{% extends 'base.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}

<div class="notice-wrapper">
	{% for message in app.flashes('notice') %}
	<div class="alert alert-info">
		{{ message }}
	</div>
	{% endfor %}
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Price</th>
				<th>Category</th>
				{% if is_granted('ROLE_ADMIN') %}
				<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
			<tr>
				<td>{{ product.id }}</td>
				<td><a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a></td>
				<td>{{ product.price }}</td>
				<td>{{ product.getCategory().getName() }}</td>
				{% if is_granted('ROLE_ADMIN') %}
				<td><a href="{{ path('product_edit', {'id': product.id}) }}"
					class="btn btn-primary">Edit</a> <a
					href="{{ path('product_delete', {'id': product.id}) }}"
					class="btn btn-danger">Delete</a></td>
			    {% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
